<div class="toolbar-container">
  
  
  <mat-toolbar class="toolbar" color="primary">
    <mat-icon aria-hidden="false" aria-label="check mark icon">assignment</mat-icon>
    <h1>Tracker</h1>
    <mat-icon class="add" (click)="addNew = !addNew">add</mat-icon>
  </mat-toolbar>
  
  <div class="add-form-container" *ngIf="addNew || editing" >
    <mat-card>
      <mat-card-title>Добавьте новую привычку</mat-card-title>
    <hr>

    <form [formGroup]="habitForm" (ngSubmit)="onSubmit()" >
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Название</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <br>
        
          <mat-form-field appearance="fill">
            <mat-label>Повторять</mat-label>
            <mat-select formControlName="frequency">
              <mat-option value="Ежедневно">Ежедневно</mat-option>
              <mat-option value="Еженедельно">Еженедельно</mat-option>
              <mat-option value="Ежемесячно">Ежемесячно</mat-option>
            </mat-select>
          </mat-form-field>
        <br>
        
          <mat-form-field appearance="fill">
            <mat-label>Описание</mat-label>
            <textarea matInput placeholder="Почему вы хотите добавить эту привычку?" formControlName="description"></textarea> 
          </mat-form-field>
        <br>
        
        <button mat-raised-button color="accent"  (click)="onSubmit()">Сохранить</button> 
        <br>
        <button mat-raised-button color="primary" (click)="onClose()">Отменить</button> 
        <br>
        
      </mat-card-content>
    </form>
    </mat-card>
  </div>

  <div class="all-habits" *ngIf="!addNew && !editing">

    <h1 >Ваши привычки</h1>
    <div *ngFor="let habit of habits; let i = index">
      <mat-card>

        <mat-card-title>
          <mat-icon
            class="habit-icon"
            color="accent"
            aria-hidden="false"
            aria-label="circle check mark icon"
            >check</mat-icon>
            {{ habit.name }}
        </mat-card-title>

        <div class="detail-option">
          <mat-icon
            class="habit-icon-edit"
            color="primary"
            (click)="setEditForm(habit, i)"
            >
            edit
          </mat-icon>

          <mat-icon 
          class="habit-icon-delete" 
          color="warn"
          (click)="onDelete(i)"
          >
          highlight_off
        </mat-icon>
        </div>

        <mat-card-content>
          <p>
            <span class="detail-label">Повторять:</span> {{ habit.frequency }}
          </p>
          <p>
            <span class="detail-label">Почему вы хотите добавить эту привычку?</span>
            <br />{{ habit.description }}
          </p>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>